:root {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    /* outline: 1px solid; */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;

    text-align: center;
}

.grid_cell {
    font-size: 50px;
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    cursor: pointer;
}

.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    height: 100vh;
    width: 100%;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.players_names {
    display: flex;
    justify-content: space-between;
    width: 225px;
    gap: 50px;
    font-weight: bolder;
}

.players_scores {
    display: flex;
    justify-content: space-between;
    width: 225px;
    font-weight: bolder;
}

.players_scores .score_x {
    margin: 0 70px 0 0;
}

.player_backboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button_container {
    margin-top: 10px;
}

.button_container .restart_btn, 
.button_container .score_reset_btn {
    all: unset;
    font-size: 0.8rem;
    font-weight: bolder;
    border: 2px outset black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s linear;
}

.button_container .restart_btn:active, 
.button_container .score_reset_btn:active {
   transform: translateY(2px);
}