:root {
    box-sizing: border-box;
}

@font-face {
    font-family: TypeDraftDemo;
    src: url('Typo Draft Demo.otf');
}

@font-face {
    font-family: OF;
    src: url(2020-outline-fortune-kei.regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    /* outline: 1px solid; */
}

body {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name_entry_overlay {
    background-image: url('tic_tac_toe_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    display: grid;
    place-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.5s ease-in;
}

.name_entry_overlay_fade {
    opacity: 0;
}

form {
    font-weight: bolder;
    width: 225px;
    padding: 20px;
    outline: 2px solid black;
    border: 2px solid black;
    outline-offset: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}

form button {
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    border: 2px outset black;
    background-color: white;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0 10px 0;
}

.grid_container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    text-align: center;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.603);
}

.grid_cell {
    font-family: OF;
    -webkit-text-stroke: 1.5px black;
    font-size: 60px;
    color: rgb(255, 0, 0);
    width: 75px;
    height: 75px;
    border-radius: 5px;
    outline: 1px solid black;
    line-height: 85px;
    cursor: pointer;
}

@keyframes scaleFont {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.publisher {
    font-size: smaller;
    font-weight: bolder;
    font-variant: small-caps;
    width: fit-content;
}

.gameboard {
    background-image: url('tic_tac_toe_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    height: 100vh;
    width: 100%;
}

.form_btn_center {
    text-align: center;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.players_names {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    width: 225px;
    font-weight: bolder;
}

.players_scores {
    display: flex;
    justify-content: space-between;
    width: 225px;
    font-weight: bolder;
}

.players_scores .score_x {
    margin: 0 70px 0 0;
}

.player_backboard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: antiquewhite;
    outline: 2px solid black;
    border: 2px solid black;
    outline-offset: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.303);
    padding: 10px;
    user-select: none;
}

.player_backboard legend {
    color: red;
    font-family: OF;
    font-size: 2rem;
    -webkit-text-stroke: 1px black;
    position: absolute;
    left: 7px;
    transform: translateY(-45px);
    width: 100%;
}

.player_backboard h2 {
    font-family: TypeDraftDemo;
    text-align: center;
}

.button_container {
    margin-top: 10px;
}

.button_container .restart_btn, 
.button_container .score_reset_btn {
    all: unset;
    font-size: 0.8rem;
    font-weight: bolder;
    border: 2px outset black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.1s ease-in;
    background-color: antiquewhite;
}

.button_container .restart_btn:active, 
.button_container .score_reset_btn:active {
   transform: translateY(2px);
}